.budget-app-title {
  text-decoration: none;
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgba(46, 206, 206, 0.625);
  width: 1440px;
  height: 130px;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif1;
  margin-top: -5px;
  

}

.title {
  position: absolute;
  bottom: 90.5%;
  text-decoration: none;
  color: white;
}

.new {
  text-decoration: none;
  color:white
}


.new-transaction {
  position: absolute;
  right: 5%;
  top: 3.5%;
  padding: 14px 25px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  text-decoration: none;
  background-color: rgb(48, 177, 158);
  cursor: pointer;
  border-radius: 10px;
}
.new-transaction:hover {
  background-color: rgb(9, 149, 119);
}


.view-transaction {
  position: absolute;
  right: 18%;
  top: 3.5%;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(48, 177, 158);
  cursor: pointer;
}
.view {
  text-decoration: none;
  color:white
}
.view-transaction:hover {
  background-color: rgb(9, 149, 119);
}

.index-txt {
  text-align: center;
  text-decoration: underline;
}

td.log-list {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  left: 228%;
  
}

.Home {
  text-align: center;
}

.new-form {
  text-align: center;
}

/* .rectangle {
  height: 500px;
  width: 2000px;
  background-color: #555;
} */

html {
  overflow-x: hidden;
}

/* .cards {
  position: absolute; 
  top: 18%;
  left: 0%
} */

.home-header {
  position: absolute;
  left: 39%;
  top: 20%;
}

.home-txt {
  position: absolute;
  left: 33%;
  top: 27.25%
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-shapes div {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.phone {
  position: absolute;
  left: 1%;
  height: 700px;
  top: 13%
}

.background {
  height: 700px;
  position: inherit;
  width: 100%;
  margin-top: -30px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.New {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
}

input[type="submit"] {
  background-color: rgb(17, 204, 157);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}

input[type="submit"]:hover {
  background-color: rgb(30, 159, 137);
}


.transaction {
  margin-left: 570px;
  margin-top: 10px;
}

.back-btn {
  background-color: rgb(17, 204, 157);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 357px;
}
.back-btn:hover {
  background-color: rgb(30, 159, 137);
}
.Index {
  background-color: rgb(3, 151, 124);
  height: 5000px
}

.change-btn {
  text-decoration: none;
  color: green;
  background-color: aqua;
  border-radius: 12px;
}
.change-btn:hover {
  background-color: aquamarine;
}
.New-form {
  background-color: rgb(3, 151, 124);
  height: 5000px
}

.Show {
  background-color: rgb(3, 151, 124);
  height: 5000px
}

.transaction-detail {
  text-align: center;
}
.detail-btn {
  background-color: rgb(17, 204, 157);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 357px;
  margin-left: 540px;
  margin-top: 10px
}

.detail-btn:hover {
  background-color: rgb(30, 159, 137);
}